body {
    background-color: #e6ffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: justify;
}

#publish {
    font-weight: bold;
    font-size: 10px;
}

.judulgambar {
    text-align: center;
    font-size: 10px;
}

.judulberita {
    text-align: center;
    color: rgb(0, 0, 255);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.biaragaktengah {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

.biarjudulagaktengah {
    margin-left: 60px;
}

.framegambar {
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}